.Header {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-content {
        flex: 1;
        margin: 0 2rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem 0;
        align-items: center;
        justify-content: space-between;
        max-width: 60rem;

        .header-title {
            text-align: center;
        }
    }        
}