@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html,
body,
#__next,
.Layout {
    font-family: "Rubik", sans-serif;
    // height: 100%;
    width: 100%;

    transition: all .2s ease-in-out; // Efecto transición colores de los temas
}

.Layout {
    display: grid;
    // grid-template-rows: 10rem 1fr;
    grid-template-areas: 
        "header scroll-spy"
        "content scroll-spy"
    ;
    grid-template-rows: 10rem 1fr;
    grid-template-columns: 0.8fr 0.2fr;

    background-color: var(--bg-color);
    color: var(--font-color);
}