.ScrollSpy {
    grid-area: scroll-spy;

    ul {
        height: 100%;
        position: relative;
        list-style: none;

        &:before {
            position: absolute;
            content: "";
            width: 5px;
            height: 100%;
            background-color: var(--scroll-spy-color);
            right: 5px;
            bottom: 0;
            border-radius: 10px;
        }

        li {
            position: absolute;
            right: 0;
            
            &:hover {
                cursor: pointer;

                &:before {
                    transform: scale(1.1);
                }
            }

            &:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                border-radius: 50%;
                right: 0;
                background-color: var(--scroll-spy-color);
            }

            span {
                display: none;
            }
        }
    }
    // position: relative;

    // &:after {
        // position: absolute;
        // content: "";
        // width: 5px;
        // height: 100%;
        // background-color: var(--scroll-spy-color);
        // right: 0;
        // bottom: 0;
    // }

    
}