main {
    grid-area: content;
    display: flex;
    justify-content: center;

    .main-content {
        flex: 1;
        max-width: 60rem;
        margin: 0 2rem;
        margin-bottom: 2rem;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
    }

    .sections-container {

        h3 {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
        .side-projects {

            .project-list {
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: center;
            }
        }

        .other-section {
            min-height: 30rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .another-section {
            min-height: 30rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}