main {
    display: flex;
    justify-content: center;

    .main-content {
        margin: 0 2rem;
        flex: 1;
        max-width: 60rem;
    }

    .side-projects {

        h3 {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .project-list {
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
        }
    }

}