@import "./utils/colors";

@import "./pages/home";

@import "./components/layout";
@import "./components/button";
@import "./components/header";
@import "./components/project-card";
@import "./components/theme-changer";
@import "./components/scroll-spy";
