$bg-color: #f5f5dc;
$font-color: #232222;

$btn-bg-color: #ffbf00;
$btn-bg-hover-color: #ffcd36;

$project-card-bg-color: white;
$project-card-border: none;
$project-card-img-border: 1px solid rgb(212,202,202);
